<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class = "" style="">
   <input type="button" onclick="(function(){document.getElementById('IFrame').contentWindow.reset();})(value)" value="Reset">
   <input type="button" onclick="(function(){document.getElementById('IFrame').contentWindow.Start_Pause_Simulation();})(value)" value="Pause/Start">
</div>
