<div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne1">
        <h4 class="panel-title">
            <a target=_self role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                Graph Options
            </a>
        </h4>
    </div>

    <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
        <div class="row" id="content">
            <div class="col-md-1">
                show
            </div>
            <div class="col-md-offset-3">
                <select  ng-model="uiDataValues.selectedGraphType" ng-change="selectedGraphTypeChanged()">
                    <option ng-show="publishDataValues.type_time_Selected[0]" value="0">position-time</option>
                    <option ng-show="publishDataValues.type_time_Selected[1]" value="1">velocity-time</option>
                    <option ng-show="publishDataValues.type_time_Selected[2]" value="2">acceleration-time</option>
                    <option ng-show="publishDataValues.graphTypeMultiChoice" value="3">all</option>
               </select>
            </div>
            <div class="col-md-1">
                probes
            </div>
            <div class="col-md-offset-3">
                <select  ng-model="uiDataValues.selectedProbeType" ng-change="selectedProbeTypeChanged()">
                        <option ng-show="publishDataValues.type_probe_Selected[0]" value="0">Value</option>
                        <option ng-show="publishDataValues.type_probe_Selected[1]" value="1">Tangents</option>
                        <option ng-show="publishDataValues.type_probe_Selected[2]" value="2">Area</option>
                        <option ng-show="publishDataValues.type_probe_Selected[3]" value="3">Chord</option>
                </select>
            </div>
        </div>
    </div>
</div>

