<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->    
<div class ="row-fluid">
        <!--RIndex Delta<input style = "width:200px" type="range" min="0.0" max="0.5" step ="10" value = "0.1" >-->
        Rotate<input style="margin-left: 10px" type="checkbox" checked onchange="(function(){document.getElementById('IFrame').contentWindow.toggleRotation(value)})(value)">
        <br>
        Refraction Index Delta<input style = "width:200px" type="range" min="0.0" max="0.5" step ="0.05" value = "0.2" onchange="(function(){document.getElementById('IFrame').contentWindow.changeRIndexDelta(value)})(value)">
        Refraction Map Repeat Factor<input style = "width:200px" type="range" min="0.5" max="3.0" step ="0.1" value = "1.0" onchange="(function(){document.getElementById('IFrame').contentWindow.changeRepeatFactorRefractionMap(value)})(value)">
        Normal Map Repeat Factor<input style = "width:200px" type="range" min="0.5" max="3.0" step ="0.1" value = "0.75" onchange="(function(){document.getElementById('IFrame').contentWindow.changeRepeatFactorNormalMap(value)})(value)">
</div>
