<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->    
<div class ="row-fluid">
        <!--RIndex Delta<input style = "width:200px" type="range" min="0.0" max="0.5" step ="10" value = "0.1" >-->
        Rotate<input style="margin-left: 10px" type="checkbox" onchange="(function(){document.getElementById('IFrame').contentWindow.toggleRotation(value)})(value)">
        <br>
        <div>
            <br>
            <div>
                Bloom Strength<input style = "width:200px" type="range" min="0.0" max="10" step ="0.1" value = "1.0" onchange="(function(){document.getElementById('IFrame').contentWindow.changeBloomStrength(value)})(value)">
                <!--Sigma<input style = "width:200px" type="range" min="0.1" max="2.0" step ="0.01" value = "0.25" onchange="(function(){document.getElementById('IFrame').contentWindow.changeBloomSigma(value)})(value)">-->
            </div>
        </div>
        <br>
</div>
