<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div class ="row-fluid">
    <input type="button" onclick="(function(){document.getElementById('IFrame').contentWindow.reset();})(value)" value="Reset"><br>
    <input type="button" onclick="(function(){document.getElementById('IFrame').contentWindow.start_pause();})(value)" value="Start/Pause"><br>
    <input type="checkbox" name="Toggle COM" onclick="(function(){document.getElementById('IFrame').contentWindow.toggleCOM();})(value)" value="1" />Toggle COM<br />
    <input type="checkbox" name="Toggle Path" onclick="(function(){document.getElementById('IFrame').contentWindow.togglePathVisibility();})(value)" value="1" />Toggle Path<br />
    <input type="checkbox" name="Show Non COM Path" onclick="(function(){document.getElementById('IFrame').contentWindow.showPathOfNonCOMPoint();})(value)" value="1" />Toggle Non COM Path<br />
    <input type="checkbox" name="Show Non Symmetric Body" onclick="(function(){document.getElementById('IFrame').contentWindow.toggleAsymmetry();})(value)" value="1" />Show Non Symmetric Body<br />
    Elasticity<input style = "width:200px" type="range" min="0.0" max="1.0" step ="0.1" value = "1.0" onchange="(function(){document.getElementById('IFrame').contentWindow.setElasticity(value);})(value)">
    Time Scale<input style = "width:200px" type="range" min="0.0016" max="0.016" step ="0.0016" value = "0.016" onchange="(function(){document.getElementById('IFrame').contentWindow.timeScale(value);})(value)">
    <input type="checkbox" onclick="(function(){document.getElementById('IFrame').contentWindow.FixedCameraView(value);})(value)" value="Fixed Camera">
</div>-->
