<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class ="row-fluid">       
    Harmonic 1<input type="range" min="0.0" max="1" step ="0.1" value = "1" onchange="(function(){document.getElementById('IFrame').contentWindow.changeWeights(0,value);})(value)" style="width:150px">
    Harmonic 2<input type="range" min="0.0" max="1" step ="0.1" value = "1" onchange="(function(){document.getElementById('IFrame').contentWindow.changeWeights(1,value);})(value)" style="width:150px">
    Harmonic 3<input type="range" min="0.0" max="1" step ="0.1" value = "1" onchange="(function(){document.getElementById('IFrame').contentWindow.changeWeights(2,value);})(value)" style="width:150px">
    Harmonic 4<input type="range" min="0.0" max="1" step ="0.1" value = "1" onchange="(function(){document.getElementById('IFrame').contentWindow.changeWeights(3,value);})(value)" style="width:150px">
</div>