<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div >
    <div>
        <h3 style = 'text-align: left; font-weight: bolder'>Harmonic Motion</h3>
    </div>
    <div class ="row-fluid">
        <div class = "span7">
            <p>Take a look at figure 1.These are one of the most common motions happening in nature. They are called recurring
            motions. Any uniform motion is a recurring motion. in each revolution, any point of a uniformly rotating body passes 
            through the same positions as during the previous revolution, in the same sequence and with the same velocity.
            </p>
            <p><em><b>"A periodic motion is a recurring one in which every cycle exactly reproduces any other cycle"</b></em></p>
            
            <p>The duration of one cycle is called the <em>"period"</em>, of the periodic motion. Let us try to define some 
                fundamental quantities associated with periodic motion. Check out figure 2. This is the simplest device to record
                periodic motion. we attach a piece of thin wire or a horse hair to a pendulum and move a glass plate covered with 
                a soot under it. if the plate is moved with a constant speed in a direction perpendicular to the motion of pendulum, 
                the hair will trace a wavy line on it. This experiment illustrates a very basic <em>oscillograph</em>-a device used 
                to record oscillations. The curves recorded by an oscillograph are called <em>oscillograms.</em></p>
            
            <p>So why are we interested in studying them? well, studying them will give you insights into many fields of science
                and engineering. Starting from Classical Mechanics to more advanced Atomic or Nuclear Physics, periodic motions 
                are everywhere. Once we understand the periodic motion and associated concepts, we can understand similar concepts
                in all the fields where such 
            </p>
        </div>
        <div class = "well span5" style=" background-color: gainsboro">
            <iframe id="embedFrame" style="width:100%; height:200px;" src="simulations/harmonic_motion/SceneShadowProjector.html"></iframe>
        </div>
         <div class = "well span5" style=" background-color: gainsboro">
            <iframe id="embedFrame" style="width:100%; height:200px;" src="simulations/harmonic_motion/SceneCircularMotion.html"></iframe>
        </div>
    </div>
</div>
