

<div class='container row-fluid' >

    <div class ='well  text-center' style="padding:   0px 0px 0px 0px">
        <h4>
            Thought of the week.
        </h4>
    </div>
    <div class='span10 main'>     
        <div class = 'row-fluid'>
            <div class = 'span4 text-center' style="height: 200px" >
                <img src="http://upload.wikimedia.org/wikipedia/commons/3/39/GodfreyKneller-IsaacNewton-1689.jpg" width="50%" height="50%" >
                <h4>Sir Isaac Newton</h4>
                <div class = 'span12 text-center'>
                    <em>"Truth is ever to be found in the simplicity, and not in the multiplicity and confusion of things".
                    </em>
                </div>
            </div>
            <div class = 'well span8 text-success text-center' style="height: 400px ">
                <!--<iframe id="newtonCradleFrame" style="width:100%; height:100%;" src="simulations/pendulumn_waves/ScenePendulumnWaves.html"></iframe>-->
                <iframe iframe-set-dimentions-onload id="IFrame" style="width:100%; height:100%;" src="simulations/friction/Scene_StaticFriction.html"></iframe>
                <div class = 'span12 row-fluid'>
                    <!--<h4>Cycle</h4>-->
                    <!--<input type="range" min="50" max="70" value="60" step= "5" onchange="(function(){document.getElementById('newtonCradleFrame').contentWindow.changeCycleTime(value)})(value)">-->
                    <!--<input type="range" min="100" max="150" value="100" step= "10" onchange="(function(){document.getElementById('newtonCradleFrame').contentWindow.changeNumOscillations(value)})(value)">-->
                    <input type="range" min="1" value="0" max="10" onchange="(function () {
                                document.getElementById('IFrame').contentWindow.changeNumPendulumns(value)
                            })(value)">
                </div>
            </div>
        </div>  
        <!--          <div class ='well text-center ' style="padding:   0px 0px 0px 0px">
                      <h4>
                          <em>Quote.</em>
                      </h4>
                  </div>-->
    </div>

</div>





