<div ng-include="'labs/kinematics_1d/PublishOptionsModel.html'"></div>
<div ng-include="'labs/kinematics_1d/Kinematics_PropertiesInputView.html'"></div>
<div ng-include="'labs/kinematics_1d/Kinematics_MathInputView.html'"></div>
<div ng-include="'labs/kinematics_1d/Kinematics_GraphInputView.html'"></div>
<div ng-include="'labs/kinematics_1d/Kinematics_SettingsView.html'"></div>

<div ng-if="sceneLoaded" class = "row-fluid">
    <div class="col-md-12" style="" >
        <div class="col-md-1">
            <div id ="PlayPauseButton" ng-click="OnPlayPauseButtonPressed()" class="btn btn-primary btn-xs fa fa-play fa-lg" style="position: relative; border: solid 1px #888888; color: rgba(0, 100, 100,0.1)'">        
            </div>
            <div ng-click="OnResetPressed()" class="btn btn-primary btn-xs fa fa-repeat fa-lg" style="position: relative; border: solid 1px #888888; color: rgba(0, 100, 100,0.1)'">        
            </div>
        </div>
        <div class="col-md-2">
            <input ng-model="uiDataValues.timeWindow" ng-change="timeWindowChanged()" style="margin-left: -35px; margin-top: 5px" type="range"  min="0" max="10" step="1"/>
        </div>
        <div class="col-md-1">
            <input style="margin-left: -50px; width: 30px;" value="{{uiDataValues.timeWindow}}" type="text" disabled="disabled" />
        </div>
        <div class="col-md-1">
            <div id="PopOverButton" class="btn-group" style="margin-left: -100px">
                <button type="button" data-toggle="button" ng-click="OnPopOverClick()" class="btn btn-primary btn-xs">{{uiDataValues.selectedInputType}}</button>
                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-show="publishDataValues.selectedInputType === 'Kinematics' || mode === 'Edit'"><a target='_self' ng-click='OnInputTypeChanged("Kinematics")' href="">Kinematics</a></li>
                  <li ng-show="publishDataValues.selectedInputType === 'Math' || mode === 'Edit'"><a target='_self' ng-click='OnInputTypeChanged("Math")' href="">Math</a></li>
                  <li ng-show="publishDataValues.selectedInputType === 'Graph' || mode === 'Edit'"><a target='_self' ng-click='OnInputTypeChanged("Graph")' href="">Graph</a></li>
                </ul>
            </div>
        </div>
        <div ng-show="uiDataValues.selectedViewType !=='Graph'" id='KinematicsSettingsButton' ng-click='OnKinematicsSettingClicked()' class="col-md-1 btn btn-primary btn-xs fa fa-cog fa-lg" data-toggle="button" style="width: 30px; position: relative; border: solid 1px #888888; color: 'rgba(0, 100, 100,0.1)'">        
        </div>
        <div class="col-md-5">
        </div>
        <div ng-if="mode === 'Edit'" class="col-md-1">
            <button ng-show="mode !== 'Preview'" class="btn btn-warning fa fa-save fa-lg" ng-click="OnPublishOptionPressed()" target="_self" data-toggle="modal"  data-target="#PublishOptionsModel"><a style="color: white" href="">Save</a></button>
        </div>
    </div>
    <div class="row col-md-12" >
        <div class="col-md-6">
            <div class="progress" style="height: 20px; margin-top: 0px">
                <div id="TimeProgressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style=" width: 0%; margin-top: 0px">
                  <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="height: 0px"></div>
    
    <div id="View3dDiv" class="col-md-6 ">
     <div  ng-show="(publishDataValues.selectedViewType === 'View3D') || (publishDataValues.selectedViewType === 'Both')" class="row-fluid">
         <div class="row-fluid" id="view3d_div" style="position: relative; border: solid 1px lightgray; height:450px; box-shadow: 2px 0px 0px 2px #dddddd;">
                <view3d>
                </view3d>
        </div>
<!--        <div>
             <div ng-include="'labs/kinematics_1d/KinematicsLab_Options.html'"></div>
        </div>-->
    </div>
    </div>
    
    <div id="GraphDiv" class="row-fluid col-md-6" ng-show="(publishDataValues.selectedViewType === 'Graph') || (publishDataValues.selectedViewType === 'Both') "  class="row-fluid col-md-6">
        <graph>
        </graph>
    </div>
    
    <div class="row-fluid col-md-12">
         <markdowneditor>
                    
        </markdowneditor>
<!--        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">Edit</h3>
            </div>
            <div class="panel-body" style="height: 350px">
                <markdowneditor>
                    
                </markdowneditor>
            <iframe id="IFrameEditor"  style="height:100%;width:100%; border: none; box-shadow: 3px 3px 5px 3px #888888;" src="labs/common/MarkDownEditor.html"></iframe>
            </div>
        </div>-->
    </div>
    
</div>







