<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login to Eduperiment.com</h4>
      </div>
       <div ng-show="emptyEmail">
            <div class="alert alert-warning" role="alert">Enter your user name!!</div>
        </div>
        <div ng-show="emptyPassword">
            <div class="alert alert-warning" role="alert">Enter your password!!</div>
        </div>
        <div ng-show="login_invalidUserOrPassword">
            <div class="alert alert-error" role="alert">Invalid User name or Password!!</div>
        </div>  
      <div class="form-group modal-body">
        <form class="" method="post" action='' name="login_form">
            <p><input type="text" class="form-control" id="username" placeholder="User Name"></p>
            <p><input type="password" class="form-control" id="password"  placeholder="Password"></p>
            <br>
            <p><button type="submit"  ng-click="loginEvent()" class="btn btn-primary">Sign in</button>
                <a>Forgot Password?</a>
            </p>
<!--            <p>Or</p>
            <a class="form-control btn btn-block btn-social btn-facebook" ng-click="fbloginEvent()">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>-->
        </form>
      </div>
      <div class="modal-footer">
         New To Eduperiment.com?
         <a class="btn btn-primary" ng-click="registerPressed()">Register</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Register to Eduperiment.com</h3>
        <h5>Already have an account? <a  target="_self" ng-click="signInPressed()">Sign In</a></h5>
       </div>
       <div ng-show="register_emptyName">
            <div class="alert alert-warning" role="alert">Enter your name!!</div>
        </div>
        <div ng-show="register_emptyEmail">
            <div class="alert alert-warning" role="alert">Enter your email!!</div>
        </div>
        <div ng-show="register_emptyPassword">
            <div class="alert alert-warning" role="alert">Enter your Password!!</div>
        </div>
        <div ng-show="register_InvalidEmail">
            <div class="alert alert-error" role="alert">Invalid Email!</div>
        </div>
      <div class="modal-body">
        <form class="form-group" method="post" action='' name="login_form">
            <p><input type="text" class="form-control" name="name" id="register_name" placeholder="Name"></p>
            <p><input type="text" class="form-control" name="eid" id="register_email" placeholder="Email"></p>
            <p><input type="password" class="form-control" id="register_password" name="passwd" placeholder="Password"></p>
            <p><button type="submit" class="btn btn-primary" ng-click="registerEvent()">Register</button>
            </p>
         </form>
      </div>
    </div>
  </div>
</div>
