
<div class='container row-fluid' >
    <div class ='text-left' style="padding:   0px 0px 0px 50px">
              <h4>
                  Simplicity Over Complexity
              </h4>
    </div>
    <div  class='span8 ' style="margin: 0px 0px 0px 50px">
        <p>
        We believe that Sciences are simple, beautiful and fun. most of the times concepts are taught in a way, that makes simple things look complicated. it is because of these methods, that students slowly build a mental block about the subject, and even worse, start hating it. We aim at removing those mental blocks, and explain simple things in simple ways. Even so called "complicated" concepts
        we explain in a unique experimental way, as we believe that these concepts can be understood better if a direct visualization is made possible.
        </p>
        <p>
        On the other hand, we also firmly believe that the students should know, at very early stage, how different concepts are actually related to each other, and a firm understanding of one concept/idea can easily open gateways into other fields. 
        Wherever possible, we try to connect the concepts, and try to give students a bigger picture of the concepts they are studying. At the same time our intention is to encourage students to think deeply about what they are studying. This form
        of scientific thinking can lead to a self belief in the student, which is the key to success in any field not only science.
        </p>
        <p>
        To aid this, we explain concepts in a modern way, by explaining with numerous experiments, interactive simulations, puzzles/sophisms, videos, and very carefully written text.
        </p>
        <p>
        "Tell me and I forget, teach me and I may remember, involve me and I learn."
         - Benjamin Franklin
        </p>
    </div>   
</div>


