
<div class='container row-fluid' >
    <div class ='text-left' style="padding:   0px 0px 0px 50px">
              <h4>
                  Simplicity Over Complexity
              </h4>
    </div>
    <div  class='span8 ' style="margin: 0px 0px 0px 50px">
        <p>
        We believe that Sciences are simple, beautiful and fun. most of the times concepts are taught in a way, that makes simple things look complicated. it is because of these methods, that students slowly build a mental block about the subject, and even worse, start hating it. we aim at removing those mental blocks. we explain simple things in simple ways. even so called "complicated" concepts
        we explain in simple ways, as we believe that these concepts are anyway simple enough to be understood in uncomplicated ways.
        </p>
        <p>
        On the other hand, we also firmly believe that the students should know, at very early stage, how different concepts are actually related to each other, and firm understanding of one field can easily open gateways into other fields. this is particularly true in mathematics. 
        wherever possible, we try to connect the concepts, and try to give students a bigger picture of things they are studying.
        We tie all the concepts in Sciences in an untangled way to Computer Science, as we believe that, a modern day student should know how to talk to a computer, and is able to write computer programs to better his/her understanding of the fundamental concepts.
        To aid this, we explain concepts in a modern way, by explaining with numerous experiments, interactive simulations, videos, and very carefully written text.
        </p>
        <p>
        To all this here is a quote from Sir Isaac Newton ::
        "Truth is ever to be found in the simplicity, and not in the multiplicity and confusion of things".
        </p>
    </div>   
</div>


