<!DOCTYPE html>

<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Science</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">  
  </head>

 
<body ng-controller="SubTopicsDataLoadController">
    
    <div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li  class="active" id ="tab-simulation"><a ng-click="onSubViewClick('simulation')" data-toggle="tab">Simulation</a></li>
            <li  id ="tab-video" ><a ng-click="onSubViewClick('video')"  data-toggle="tab">Video</a></li>
            <li id ="tab-questions" ><a ng-click="onSubViewClick('questions')"  data-toggle="tab">Questions</a></li>
        </ul>
        <div  ng-switch on="SubView">
            <div ng-switch-when="simulation">
                <div ng-include="'partials/SimulationView.html'" ></div>
            </div>
            <div ng-switch-when="video">
                <div ng-include="'partials/VideoView.html'" ></div>
            </div>
            <div ng-switch-when="questions">
                <div ng-include="'partials/SimulationTopicPage_1.html'" ></div>
            </div>
        </div>
    </div>
</div>

    <!--<h2 style="font-weight:bolder; margin-left: 100px">{{SimulationName}}</h2>-->
    <!--<br>-->
    

    <script src="../js/lib/bootstrap.min.js"></script>

</body>

</html>