<!DOCTYPE html>

<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Science</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">  
  </head>
  
<body>
    <h2 style="font-weight:bolder; margin-left: 100px">{{SimulationName}}</h2>
    <br>
    <ul class="media-list">
       <li class="media" ng-repeat="simulation in SimulationList">
          <a class="pull-right" href="#Simulation/{{SimulationFolderName}}/{{simulation.scene_name}}.html">
             <img style ="margin: 0px 100px 0px 0px" class="well media-object" src=img/{{simulation.image}} width =400 height = 200
             alt="Generic placeholder image">
          </a>
          <div class="media-body">
             <h4 class="media-heading">{{simulation.display_name}}</h4>
             <br>
             <p>{{simulation.description}}</p>
          </div>
       </li>
    </ul>

    <script src="../js/lib/bootstrap.min.js"></script>

</body>

</html>