<!DOCTYPE html>
<html ng-app="mainApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Science</title>
    
  </head>

  <body ng-controller="TopicsLoadController">
     <div style = "margin: 20px 20px 0px 0px" >
        <div id='content' class='row-fluid'>
            <div class = 'span7' style=" color: white; background-color: #3a87ad; height: 500px">
                    <div style=" font-family: sans-serif;  margin: 60px 40px 10px 40px;">
                        <span style="font: caption; ">
                            <a style = "color: white" href="#{{subjectCategoryData.Info.parent}}">{{subjectCategoryData.Info.parent}}</a>
                        </span>
                        <h2>
                            <span style="font: caption; font-size: larger; ">
                                {{subjectCategoryData.Info.name}}
                            </span>
                        </h2>
                    </div>
                <ul class="nav nav-list" style="margin: 20px 100px 10px 20px;">
                    <li class = "divider"></li>
                </ul>
                    <div style = "margin: 20px 100px 10px 40px">
                        <span style="font: caption; font-family: sans-serif;font-weight: 300" >
                            {{subjectCategoryData.Info.description}}
                        </span>
                    </div>
            </div>
            <div  class = 'span5' style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
              <ul class="nav nav-list">
                    <li ng-repeat="sub_category in subjectCategoryData.sub_categories">
                        <a href="#{{subjectCategoryData.Info.subject.toLowerCase()}}/{{subjectCategoryData.Info.name.toLowerCase()}}/{{sub_category.name.toLowerCase()}}">    
                            <div  style=" text-align: center; ; font-weight: bolder; margin-top: 10px">
                                {{sub_category.name}}
                            </div> 
                            <div style=" text-align: justify; color: #444; margin:  10px 40px 10px 40px; font-weight: 300">
                                {{sub_category.description}}
                            </div>
                            <div class = "divider" style="margin:  2% 0% -1% 0%;"></div>
                        </a>
                    </li>
              </ul>
            </div>
          
        </div>
      
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/lib/bootstrap.min.js"></script>
    
    
  
  </body>
</html>
