<!DOCTYPE html>
<html ng-app="mainApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Science</title>
    
  </head>

  <body ng-controller="Physics_SubjectsController">
     <div style = "margin: 20px 20px 0px 0px;" >
        <div id='content' class='row-fluid' style = "">
            <div class = 'well span3' style=" text-align: center; color: black; height: 10px; background-color: #3a87a0">
                    <div class='row-fluid' style=" font-family: sans-serif;  margin: -15px 0px 0px 0px;">
                        <div class = 'span4' style="font: caption; background-color: #3a87a0; margin: 0px">
                                Physics
                        </div>
                        <div class = 'span4' style="font: caption; background-color: #3a87a0; margin: 0px;">
                                Mechanics
                        </div>
                        <div class = 'span4' style="font: caption;color: white; background-color: #3a87a0; margin: 0px;">
                                Oscillations
                        </div>
                    </div>
            </div>
            <div  class = 'span9' style="overflow-y: scroll; overflow-x: hidden;">
<!--              <ul class="nav nav-list">
                    <li ng-repeat="category in physics_subs.topics">
                        <a href="#">    
                            <div  style=" text-align: center; ; font-weight: bolder; margin-top: 10px">
                                {{category.sub}}
                            </div> 
                            <div style=" text-align: justify; color: #444; margin:  10px 40px 10px 40px; font-weight: 300">
                                {{category.description}}
                            </div>
                            <div class = "divider" style="margin:  2% 0% -1% 0%;"></div>
                        </a>
                    </li>
              </ul>-->
            </div>
          
        </div>
      
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/lib/bootstrap.min.js"></script>
    
    
  
  </body>
</html>
