<div class="panel panel-default">
  <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 30px; font-family: serif; text-align: center"><b>Featured</b></h1>
  </div>
  <div class="panel-body">
    <div class="row-fluid col-md-12">
    <div class="row col-md-4">
        <div class="col-md-12">
        <img style ="box-shadow: 0px 3px 1px 1px #888888;" class="img-thumbnail" src=img/gravitation_model.png
                 alt="Generic placeholder image">
        <div style="box-shadow: 0px 3px 1px 1px #888888; text-align: center">
            <b style="font-family: serif; color: #330099">Created By Prashant</b>
        </div>
        </div>
    </div>
    
    <div class="row col-md-4">
     <div class="col-md-12">
        <img style ="box-shadow: 0px 3px 1px 1px #888888;" class="img-thumbnail" src=img/pendulumn_waves.png
                 alt="Generic placeholder image">
        <div style="box-shadow: 0px 3px 1px 1px #888888; text-align: center">
            <b style="font-family: serif; color: #330099">Created By Prashant</b>
        </div>
        </div>   
    </div>
    
     <div class="row col-md-4">
     <div class="col-md-12">
        <img style ="box-shadow: 0px 3px 1px 1px #888888;" class="img-thumbnail" src=img/earth_moon_com.png
                 alt="Generic placeholder image">
        <div style="box-shadow: 0px 3px 1px 1px #888888; text-align: center">
            <b style="font-family: serif; color: #330099">Created By Prashant</b>
        </div>
        </div>   
    </div>   
<!--    <div class="row col-md-3">
    <img style ="margin: 0px 0px 0px 0px; box-shadow: 0px 3px 13px 0px #888888;" class="img-thumbnail" src=img/shadow_projector.png
                 alt="Generic placeholder image">
    </div>    -->
</div>
  </div>
</div>

    