<div class="panel panel-default" style="font-family: serif">
  <!-- Default panel contents -->
   <div class="panel-heading">
       <h1 class="panel-title" style="font-size: 20px;"><b>Recent Contribution</b></h1>
  </div>
  <!--  <div class="panel-body">
    <p>...</p>
  </div>-->

  <!-- List group -->
  <div>
    <ul class="list-group" ng-repeat="data in recentActivity">
        <li  class="list-group-item"><a href=""><b style=" color: #330099">{{data.username}}</b></a><b> Created </b><a href="#Labs" ng-click="OnSimulationClicked($index)"><b style=" color: #330099"> {{data.simtitle}}</b></a> in <a href="#Labs">{{data.simname}}</a> on {{data.createdAt.toDateString()}}</li>
    </ul>
  </div>    
</div>