
<div class = "row" ng-controller="TestController">
    <div class="row-fluid col-md-6">
        <div>
             <div ng-include="'labs/kinematics_1d/KinematicsLab_Options.html'"></div>
        </div>
        <div>
            <iframe iframe-set-dimentions-onload id="IFrame" onload="onSimFrameLoad()" style="border: none; height:450px; width:100%; box-shadow: 3px 3px 5px 3px #888888;" src="labs/kinematics_1d/Scene_KinematicsLab.html"></iframe>
        </div>
    </div>
    
    <div class="row-fluid col-md-6">
        <div >
             <div ng-include="'labs/kinematics_1d/KinematicsGraph_Options.html'"></div>
        </div>
        <div>
            <iframe iframe-set-dimentions-onload id="IFrameGraph" onload="onGraphFrameLoad()" style="height:450px;width:100%; border: none; box-shadow: 3px 3px 5px 3px #888888;" src="labs/common/Scene_GraphView.html"></iframe>
        </div>
    </div>
    
    <div class="preview" id="MarkedDownPreviewBuffer" style="display:none;position:absolute;top:0; left: 0">
    </div>
    <div class="row col-md-12">
        <div class="well col-md-6" id="MarkedDownEditor">
            Test
        </div>
        <div class="well col-md-6" id="MarkedDownPreview">
            Hello
        </div>
    </div>
    
</div>







