
    <div class="container-fluid">
    <h2 style="font-weight:bolder; margin-left: 100px">{{SimulationName}}</h2>
    <br>
    <ul class="media-list">
       <li class="media" ng-repeat="video in VideoList">
          <a class="pull-right">
            <iframe id="video-frame" width="600" height="410" src={{video.src}} frameborder="1" allowfullscreen onLoad="uploadDone();"></iframe>
            
          </a>
          <div class="media-body">
             <h4 class="media-heading">{{video.display_name}}</h4>
             <br>
             <p>{{video.description}}</p>
          </div>
       </li>
    </ul>
   
    </div>

