<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>eduperiment</title>
        
        
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/bootstrap-social.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!-- Bootstrap core CSS -->
        <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <!--<script src="js/lib/jquery/jquery.js"></script>-->
        <!--<script src="js/lib/jquery/jquery-ui.min.js"></script>-->
        <!--<link rel='stylesheet'  href="css/jquery-ui.min.css"/>-->
        
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>-->
        <!--<link rel='stylesheet' href='http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css' />-->
        
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="js/lib/marked/marked.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
        <script src="js/lib/angular.js/angular.js"></script>
        <script src="js/lib/angular.js/angular-route.js"></script>
        <script src="js/lib/jquery/jquery-1.11.3.min.js"></script>
        <script src="js/lib/jquery/jquery-ui.min.js"></script>
        <link rel='stylesheet'  href="css/jquery-ui.min.css"/>
        <script src = "js/controllers.js"></script>
        <script src = "js/loginPageLoadController.js"></script>
        <script src = "js/simulationMetaDataLoadController.js"></script>
        <script src = "js/userProfilePageLoadController.js"></script>
        <script src = "labs/kinematics_1d/Kinematics1dLabController.js"></script>
        <script src = "js/ContentLoadingService.js"></script>
        <script src="js/lib/three.js/three.js"></script>
        <script src="js/lib/three.js/js/controls/OrbitControls.js"></script>
        <script src="js/lib/three.js/js/Detector.js"></script>
        <script src="js/simulate/Arrow3D.js"></script>
        <script src="js/simulate/Text2D.js"></script>
        <script src="labs/common/PhysicalBody.js"></script>
        <script src="labs/common/TextViewObserver.js"></script>
        <script src="labs/kinematics_1d/model_kinematics1d_lab.js"></script>
        <script src = "labs/kinematics_1d/Kinematics3DView.js"></script>
        <script src="js/lib/dyGraph/dygraph-combined-dev.js"></script>
        <script src="js/lib/dyGraph/hairlines.js"></script>
        <script src="js/lib/dyGraph/super-annotations.js"></script>
        <script src="labs/kinematics_1d/CustomKinematicsGraphOperations.js"></script>
        <script src = "js/mainApp.js"></script>
        <script src="js/lib/mathjs/math.min.js"></script>
        <script src="labs/common/CubicSplineInterpolator.js"></script>
        <script src="labs/common/BSpline.js"></script>
        <script src="labs/common/model_graph.js"></script>
        <script src="labs/kinematics_1d/SplineGraph.js"></script>
        <script src="labs/common/MathInput.js"></script>
 </head>

    <body ng-app ="mainApp" ng-controller="homePageLoadController">
        <div id="fb-root"></div>
        <div class="container">
            <div ng-include="'partials/LoginView.html'"></div>
        </div>

        <div  style = " margin: 40px 20px 0px 20px">
            <h1 style="">EduPeriment</h1>
            <h5 style=" color:darkblue">experimental learning platform</h5>

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#Home">Home</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#Explore" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#physics">Physics</a></li>
                                    <li><a href="#computer_science">Computer Science</a></li>
                                </ul>
                            <li><a href="#Mission">Our Mission</a></li>
                            <li><a href="#">About us</a></li>
                            <li ng-show="logged_in" ng-click="OnLabMenuPressed()"><a href="#Labs">Labs</a></li>
                            </li>
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <div>
                            <ul ng-show="!logged_in" class="nav navbar-nav">
                                <li class="btn btn-primary btn-xs" target="_self" data-toggle="modal" ng-click="logInPressed()" data-target="#LoginModal"><a href="">LogIn</a></li>
                            </ul>  
                            </div>   
                            <li ng-show="logged_in" class="dropdown">
                                <a href="#" target="_self" class="btn dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false">{{currentUserName}} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#Profile">Profile</a></li>
                                    <li><a ng-click="logOutPressed()" href="#">LogOut</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div class="row-fluid" style="width: 100%;">
                <!-- Example row of columns -->
                <script>
                    function callMe(value) {
                        document.getElementById('embedFrame').contentWindow.changeNumPendulumns(value);
                    }
                </script>
                
                <div ng-view> </div>

            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="js/lib/bootstrap.min.js"></script>
        </div>
    </body>
</html>
<!--1 - abs(t% 2 - 1)-->